.App {
  text-align: center;
  z-index: 1;
}

.App > .loadingio-spinner{
	z-index: 2;
}

.App > .overlay{
	z-index: 1;
}

.App > .header{
    height: 2rem;
    padding: 1rem 1.5rem;
	background: #219ebc;
	color: #edf6f9;
}

.App > .header > .company{
	font-weight: bold;
	font-size: 1.5rem;
}

.App > .header > .product{
	margin-left: 2rem;
	font-size: 1.25rem;
}