body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pA{
	position: absolute
}

.dn{
	display: none!important;
}

.max-dims{
	width: 100%;
	height: 100%;
}

.flex--row, .flex--row-ac{
	display: flex;
}

.flex--row-ac{
	align-items: center;
}