@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

*{
	outline: none!important;
}

body {
	margin: 0;
	font-family: 'Roboto'!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
  }

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select{
    border: solid 2.5px #9E9E9E;
    width: 10rem;
    height: 2rem;
    border-radius: 0.25rem;
	cursor: pointer;
}

select:hover, select:active{
	border: solid 2.5px #264653;
}

.pA{
	position: absolute
}

.dn{
	display: none!important;
}

.max-dims{
	width: 100%;
	height: 100%;
}

.flex--row, .flex--row-ac{
	display: flex;
}

.flex--row-ac{
	align-items: center;
}

.flex--column, .flex--column-ac{
	display: flex;
	flex-direction: column;
}

.flex--column-ac{
	align-items: center;
}

.cp{
	cursor: pointer;
}

.vHidden{
	visibility: hidden;
}