@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
	margin: 0;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
  }

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pA{
	position: absolute
}

.dn{
	display: none!important;
}

.max-dims{
	width: 100%;
	height: 100%;
}

.flex--row, .flex--row-ac{
	display: flex;
}

.flex--row-ac{
	align-items: center;
}